.CardContainer {
  background-color: white;
  width: 31.9%;
  font-size: 1.6rem;

  @media (max-width: 1199px) {
    width: 48.3%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  height: 26rem;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
  border-radius: 1.6rem;
  cursor: pointer;

  transition: transform 0.2s ease;
  &:hover {
    box-shadow: 0 0.4rem 1rem 0 rgba(51, 50, 54, 0.06);
    transform: translateY(-0.4rem);
  }
}
