@import url("../../../styles/color.css");

/*LargeButton*/
.LargeButton {
  display: flex;
  width: 72rem;
  padding: 1.4rem 2.4rem;
  margin: 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 1.2rem;
  background: var(--Purple-60);

  color: var(--Surface);
  text-align: center;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.018rem;
}

.LargeButton:disabled {
  background: var(--Gray-30);
  cursor: default;
}

.IsListPage {
  display: block;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4rem 2.4rem;
  background-color: var(--Purple-60);
  color: white;
  border-radius: 12px;
  width: 28rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.018rem;
}

@media (max-width: 949px) {
  .IsListPage {
    width: 95vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 410px) {
  .IsListPage {
    width: 88vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .LargeButton {
    margin-left: 0;
    margin-right: 0;
    width: 32rem;
  }
}

/*LargeReverseButton*/
.LargeReverseButton {
  display: block;
  margin-top: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4rem 2.4rem;
  background-color: var(--Purple-60);
  color: white;
  border-radius: 12px;
  width: 28rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.018rem;
}

@media (max-width: 1248px) {
  .LargeReverseButton {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/*MediumButton*/
.MediumButton {
  margin-left: 0;
  margin-right: 0;
  width: 32rem;
  display: flex;
  padding: 1.4rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 1.2rem;
  background: var(--Purple-60);

  color: var(--Surface);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.018rem;
}

.MediumButton:disabled {
  background: var(--Gray-30);
  cursor: default;
}

/*SmallButton*/
.SmallButton {
  background-color: var(--Purple-60);
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 0.6rem;
  font-family: inherit;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--Purple-70);
  }
  &:active {
    background-color: var(--Purple-80);
  }
}

@media (max-width: 1199px) {
  .SmallButton {
    padding: 1.4rem;
    position: fixed;
    inset: auto 2.4rem 2.4rem 2.4rem;
    z-index: 1;
    font-weight: 700;
  }
}

/*ModalButton*/
.ModalButton {
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  width: 12rem;
  background-color: var(--Purple-60);
  color: white;
  margin-top: 3rem;
  font-family: inherit;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--Purple-70);
  }
  &:active {
    background-color: var(--Purple-80);
  }

  @media (max-width: 767px) {
    width: 25vw;
  }
}
