.ModalButton {
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  width: 12rem;
  background-color: var(--Purple-60);
  color: white;
  margin-top: 3rem;
  font-family: inherit;
  font-size: 1.6rem;

  &:hover {
    background-color: var(--Purple-70);
  }
  &:active {
    background-color: var(--Purple-80);
  }
}
