.CardListPadding {
  max-width: 120rem;
  height: 11rem;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1199px) {
    max-width: 80rem;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.CardListEditButton {
  position: absolute;
  bottom: 1rem;
  right: 0.3rem;
  background-color: var(--Purple-50);
  color: white;
  padding: 0.7rem 1.6rem;
  border-radius: 0.6rem;
  height: 4rem;
  font-family: inherit;

  @media (max-width: 1199px) {
    right: 0.5rem;
  }
}

.CardListContainer {
  max-width: 120rem;

  @media (max-width: 1199px) {
    max-width: 80rem;
  }

  @media (max-width: 767px) {
    padding-top: 3.2rem;
    max-width: 40rem;
  }

  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.8rem 2.4rem;
}

.LoadMore {
  background-color: transparent;
  height: 10rem;
}

.blue {
  background-color: var(--Blue-20);
}
.purple {
  background-color: var(--Purple-20);
}
.green {
  background-color: var(--Green-20);
}
.beige {
  background-color: var(--Orange-20);
}
