.recentMessages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image-wrapper {
  display: block;
}

.profile-image {
  position: relative;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.profile-image.second {
  z-index: 2;
  left: -1.3rem;
}

.profile-image.third {
  z-index: 3;
  left: -2.6rem;
}

.profile-image-last {
  display: inline-block;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.6rem;
  z-index: 4;
  left: -2.6rem;
}
