* {
  font-size: 1.6rem;
}

.CardContainer {
  background-color: white;
  width: 38.4rem;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 2.4rem;
  border-radius: 1.6rem;
}

.SenderInfo {
  display: flex;
  gap: 1.4rem;
}

.SenderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SenderProfile {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
}

.CardSenderName {
  font-weight: 700;
}

.RelationshipFamily {
  background-color: var(--Green-10);
  color: var(--Green-50);
  height: 2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0.8rem;
}

.RelationshipColleague {
  background-color: var(--Purple-10);
  color: var(--Purple-50);
  height: 2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0.8rem;
}

.RelationshipFriend {
  background-color: var(--Blue-10);
  color: var(--Blue-50);
  height: 2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0.8rem;
}

.RelationshipAcquaintance {
  background-color: var(--Orange-10);
  color: var(--Orange-50);
  height: 2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  padding: 0 0.8rem;
}

.DividingLine {
  width: 100%;
  border-top: 1px solid var(--Gray-20);
  margin: 1.6rem 0;
}

.CardContent {
  height: 10.6rem;
  overflow: hidden;
}

.CreatedAt {
  font-size: 1.2rem;
  color: var(--Gray-40);
}
