.Wrapper {
  display: flex;
  gap: 3rem;
  max-width: 89rem;
  position: relative;
  flex-shrink: 1;
  height: 19rem;
}

.CardTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.SlideBtn_R {
  background-color: transparent;
  position: absolute;
  right: -4%;
  top: 40%;
}

.SlideBtn_L {
  background-color: transparent;
  position: absolute;
  transform: rotate(180deg);
  left: -4%;
  top: 40%;
}

.EndOfPage {
  display: none;
}

.SlideWrap {
  width: 89rem;
}

.box {
  position: absolute;
  display: flex;
  flex-shrink: 0;
}

.listcontainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.moreData {
  margin-left: 5rem;
  display: none;
}

.isMobile {
  display: block;
}

.loadingPulse {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border: 10px solid hsl(150, 100%, 66%);
  border-radius: 50%;

  animation: load 1.5s ease-in-out infinite;
}

@media (max-width: 949px) {
  .Wrapper {
    gap: 1rem;
    max-width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-right: 2rem;
  }

  .SlideBtn_R {
    display: none;
  }
  .SlideBtn_L {
    display: none;
  }
}

@media (max-width: 767px) {
  .Wrapper {
    gap: 0.8rem;
  }

  .CardTitle {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
  }
}

.Wrapper::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
