.Wrapper {
  display: flex;
  gap: 3rem;
  max-width: 89rem;
  position: relative;
}

.CardTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CardInfo > h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.CardInfo > p {
  font-size: 1rem;
}

.CardContainer {
  width: 20rem;
  border: none; /*배경색 프롭스로 설정 할 것*/
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.RecentCount {
  font-size: 1rem;
}

.CardFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.HorizonLine {
  height: 0.1rem;
  background-color: black;
  opacity: 0.3;
}

.SlideBtn_R {
  background-color: transparent;
  position: absolute;
  right: -4%;
  top: 40%;
}

.SlideBtn_L {
  background-color: transparent;
  position: absolute;
  transform: rotate(180deg);
  left: -4%;
  top: 40%;
}

.EndOfPage {
  display: none;
}

.beige {
  border: 0.1rem solid var(--Orange-30);
  background-color: var(--Orange-20);
  background-image: url(../../assets/pattern_beige.png);
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
}
.purple {
  border: 0.1rem solid var(--Purple-30);
  background-color: var(--Purple-20);
  background-image: url(../../assets/pattern_purple.png);
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
}
.blue {
  border: 0.1rem solid var(--Blue-30);
  background-color: var(--Blue-20);
  background-image: url(../../assets/pattern_blue.png);
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
}
.green {
  background-color: var(--Green-20);
  border: 0.1rem solid var(--Green-30);
  background-image: url(../../assets/pattern_green.png);
  background-repeat: no-repeat;
  background-position: 6rem 6rem;
}

@keyframes slide-R {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80%);
  }
}

@keyframes slide-L {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(80%);
  }
}

.CardContainer {
  transition: transform 0.2s ease;
}

.slide-out-R {
  animation: slide-R 0.2s ease forwards;
  opacity: 0.4;
}

.slide-out-L {
  animation: slide-L 0.2s ease forwards;
  opacity: 0.4;
}
