/* reset */
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Sunflower:wght@300&display=swap");

* {
  margin: initial;
  padding: initial;
  box-sizing: border-box;

  font-family: "IBM Plex Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}
