.ProfileContainer {
  width: 71.7rem;
  height: 14.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Title {
  height: 3.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: Pretendard;
}

.Content {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.DefaultProfile {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.SelectProfile {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.SelectExplain {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Pretendard;
  color: var(--Gray-50);
}

.SelectImgs {
  display: flex;
  gap: 0.4rem;
  position: relative;
}

.SelectImg {
  width: 5.6rem;
  height: 5.6rem;
  border: 0.1rem solid var(--Gray-20);
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--Gray-20);
}

@keyframes loading {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.SkeletonImage {
  position: absolute;
  background-color: var(--Gray-30);
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
}

@media (max-width: 47.9375rem) {
  .SelectExplain {
    font-size: 1.5rem;
  }
  .SelectImgs {
    width: 20.8rem;
    height: 8.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
  .SelectImg {
    width: 4rem;
    height: 4rem;
  }
}
