.ModalBackground {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.MessageModalBox {
  width: 60rem;
  border-radius: 1.6rem;
  background-color: white;
  margin: 0 auto;
  padding: 4rem;
  cursor: auto;
}

.MessageModalSender {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.4rem;
  }
}

.DividingLine {
  width: 100%;
  border-top: 1px solid var(--Gray-20);
  margin: 1.6rem 0;
}

.CardContent {
  height: 24rem;
  overflow: auto;
}

.AlignButton {
  display: flex;
  justify-content: center;
}

.ModalCloseButton {
  padding: 0.7rem 1.6rem;
  border-radius: 0.6rem;
  width: 12rem;
  background-color: var(--Purple-60);
  color: white;
  margin-top: 3rem;
}
