.RecipientInfoBar {
  width: 100%;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Info-wrapper {
  display: flex;
  gap: 2.8rem;
}

.name {
  font-size: 2.8rem;
}

.button {
  border: 1px solid var(--Gray-20);
  border-radius: 6px;
  padding: 0.6rem 1.6rem;
  background-color: var(--surface);
}

.button-icon {
  width: 2.4rem;
  height: 2.4rem;
}
