.RecipientInfoBarWrapper {
  padding: 1.3rem 2.4rem;
}

.RecipientInfoBar {
  width: 100%;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.InfoWrapper {
  display: flex;
  gap: 2.8rem;
}

.Name {
  font-size: 2.8rem;
}

.RestWrapper {
  display: flex;
  gap: 0.5rem;
}

.Button {
  border: 1px solid var(--Gray-20);
  border-radius: 6px;
  padding: 0.6rem 1.6rem;
  background-color: var(--surface);
}

.ButtonIcon {
  width: 2.4rem;
  height: 2.4rem;
}

.Button:hover {
  background-color: var(--Gray-30);
}
