.RecipientInfoBarWrapper {
  padding: 1.3rem 2.4rem;
}

.RecipientInfoBar {
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.Name {
  width: 10rem;
  height: 4.2rem;
  background-color: var(--Gray-30);
  animation: loading 1.5s infinite;
  border-radius: 0.8rem;
}

.InfoWrapper {
  display: flex;
  gap: 2rem;
}

.RestWrapper {
  display: flex;
  gap: 1.3rem;
  position: relative;
  align-items: center;
}

.ReactionContainer {
  width: 10rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.ReactionLoading {
  display: flex;
  border: none;
  border-radius: 1.5rem;
  color: white;
  width: 4rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  background-color: var(--Gray-30);
  animation: loading 1.5s infinite;
}

.ButtonLoading {
  display: block;
  width: 8rem;
  height: 3.8rem;
  background-color: var(--Gray-30);
  animation: loading 1.5s infinite;
  border-radius: 0.8rem;
}

.MessageSummaryLoading {
  display: block;
  width: 12rem;
  height: 3.8rem;
  background-color: var(--Gray-30);
  animation: loading 1.5s infinite;
  border-radius: 0.8rem;
}

@keyframes loading {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@media (max-width: 767px) {
  .RecipientInfoBar {
    flex-direction: column;
    align-items: first baseline;
  }
}

@media (max-width: 1199px) {
  .MessageSummaryDivider {
    display: none;
  }
  .MessageSummeryLoading {
    display: none;
  }
}
