.CardListBackground {
  padding: 0 2.4rem;
}

.blue {
  background-color: var(--Blue-20);
}
.purple {
  background-color: var(--Purple-20);
}
.green {
  background-color: var(--Green-20);
}
.beige {
  background-color: var(--Orange-20);
}
