.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.CardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 4rem;
  flex-shrink: 0;
}

.LinkBtn {
  width: 30rem;
  height: 5.6rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--Purple-60);
  color: white;
  align-items: center;
}

@media (max-width: 949px) {
  .Wrapper {
    align-items: flex-start;
    padding: 0 2rem;
  }

  .LinkBtn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .LinkBtn {
    /* margin-left: 1rem; */
  }
}
