.ImageSource {
  width: 64rem;
}

.MainImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6rem;
  width: 100%;
  max-width: 120rem;
  margin: auto;
  background-color: var(--Surface);
  border-radius: 1.6rem;
  border: none;
  overflow: hidden;
}
.Description {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  gap: 1.6rem;
}

.Point {
  display: inline-block;
  color: white;
  background-color: var(--Purple-60);
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.TextBig {
  word-break: keep-all;
  font-size: 2.4rem;
  font-weight: 700;
}

.TextSmall {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Gray-50);
}

.LookButton {
  margin: auto;
  margin-top: 2.4rem;
  padding: 1.4rem 2.4rem;
  background-color: var(--Purple-60);
  color: white;
  border-radius: 12px;
  font-size: 1.8rem;
  width: 100%;
  max-width: 28rem;
  text-align: center;
}

@media (max-width: 1248px) {
  .MainImage {
    flex-direction: column;
    padding: 4rem 0;
  }
  .Description {
    width: 100%;
  }
  .TextBox {
    margin-bottom: 3.6rem;
  }
  .ImageSource {
    width: 100%;
    min-width: 64rem;
    margin: auto;
  }
  .LookButton {
    max-width: none;
  }
}

@media (max-width: 727px) {
  .Description {
    min-width: 27.2rem;
  }
  .TextBox {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .ImageBox {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .TextBig {
    word-wrap: break-word;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.018rem;
  }
  .TextSmall {
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: -0.015rem;
  }
  .ImageSource {
    margin-top: 4rem;
    height: 11.3rem;
    object-fit: contain;
  }
}
