@import url("../../../styles/color.css");

.RelationContainer {
  width: 32rem;
  height: 9.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Title {
  height: 3.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: Pretendard;
}

.SelectBox {
  width: 32rem;
  height: 5rem;
  border-radius: 0.8rem;
}
