@import url("../../../styles/color.css");

.InputPost {
  width: 72rem;
  height: 10.4rem;
  margin-bottom: 5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.InputPostText {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--Gray-90);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: -0.024rem;
}

.InputBox {
  display: flex;
  width: 72rem;
  height: 4.3rem;
  padding: 1.2rem 1.6rem;
  align-items: center;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--Gray-30);
  background: var(--white);

  color: var(--Gray-50);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.016rem;
}

input::placeholder {
  color: var(--gray-50);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.016rem;
}

.InputError {
  display: flex;
  width: 72rem;
  height: 5rem;
  padding: 1.2rem 1.6rem;
  align-items: center;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--Error);
  background: var(--white);

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.016rem;
}

.InputErrorMessage {
  color: var(--Error);

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -0.006rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .InputPost {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}

@media (max-width: 767px) {
  .InputPost {
    margin-left: 0;
    margin-right: 0;
    width: 32rem;
  }

  .InputPost input {
    margin-left: 0;
    margin-right: 0;
    width: 32rem;
  }
}
