.Container {
  max-width: 100vw;
  display: flex;
  padding: 1rem 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.LogoBtn {
  background-color: transparent;
}

.GoToPostPage {
  background-color: transparent;
  border: 1px solid var(--Gray-30);
  border-radius: 5px;
  padding: 0.51rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
