.Wrapper {
  display: flex;
  gap: 3rem;
  max-width: 89rem;
  position: relative;
  flex-shrink: 1;
  height: 19rem;
}

.CardTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.SlideBtn_R {
  background-color: transparent;
  position: absolute;
  right: -4%;
  top: 40%;
}

.SlideBtn_L {
  background-color: transparent;
  position: absolute;
  transform: rotate(180deg);
  left: -4%;
  top: 40%;
}

.EndOfPage {
  display: none;
}

.SlideWrap {
  width: 89rem;
}

.box {
  position: absolute;
  display: flex;
  flex-shrink: 0;
}

.listcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20rem;
  overflow: hidden;
}

.moreData {
  margin-left: 5rem;
  display: none;
  color: white;
}

.isMobile {
  display: block;
}

.loadingPulse {
  width: 7rem;
  height: 7rem;
  margin: 10px auto;
  margin-top: 5rem;
  margin-left: 42rem;
  border: 10px solid var(--Purple-60);
  border-radius: 50%;

  animation: load 1.5s ease-in-out infinite;
}

@keyframes load {
  0%,
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media (max-width: 949px) {
  .Wrapper {
    gap: 1rem;
    max-width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 20rem;
    overflow: hidden;
  }

  .loadingPulse {
    width: 4rem;
    height: 4rem;
    margin: 10px auto;
    margin-top: 4.5rem;
    margin-left: 36rem;
    border: 7px solid var(--Purple-60);
    border-radius: 50%;

    animation: load 1.5s ease-in-out infinite;
  }

  .SlideBtn_R {
    display: none;
  }
  .SlideBtn_L {
    display: none;
  }
}

@media (max-width: 767px) {
  .Wrapper {
    gap: 0.8rem;
    height: 21rem;
  }

  .CardTitle {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
  }

  .loadingPulse {
    margin-top: 4.3rem;
    margin-left: 34rem;
  }
}

.Wrapper::-webkit-scrollbar {
  width: 0; /* 스크롤바 너비를 0으로 설정 */
  background-color: transparent; /* 배경색을 투명하게 설정 */
}
